<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- master switch -->
    <add key="enable mbrace" value="true" />
    <!-- preloaded assembly information -->
    <!-- either full path or relative to shell executable -->
    <add key="mbrace client path" value="." />
    <add key="mbraced path" value="mbraced.exe" />

    <!-- 
    Store configuration 
    Use : LocalFS to use a temp path in the local filesystem
          FileSystem and a local (or UNC) path as an endpoint
          The assembly qualified name for any custom provider (like the Azure) and its endpoint (connection string).
    -->
    <add key="store provider" value="LocalFS" />
    <add key="store endpoint" value=""/>

    <!-- Sql Server store alternative config
      <add key="store provider" value="Nessos.MBrace.Store.SqlServer.SqlServerStoreFactory, Nessos.MBrace.Store.SqlServer, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add key="store endpoint" value="[connection string]"/>
    -->
    <!-- Azure store alternative config
      <add key="store provider" value="Nessos.MBrace.Store.Azure.AzureStoreFactory, Nessos.MBrace.Store.Azure, Version=[version number], Culture=neutral, PublicKeyToken=e3142f36c45d3d3d"/>
      <add key="store endpoint" value="[connection string]"/>
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="2.3.5.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="4.0.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>