<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- hostname that uniquely and globally identifies the host machine of the daemon. This can be an IP address. -->
    <add key="hostname" value="" /> 
    <!--- IP addresses the daemon will listen on. Separate with commas. If empty then the daemon will listen on all local interfaces.  -->
    <!-- <add key="listen ips" value="192.168.1.10, 10.10.10.10"/> -->
    <!-- Primary TCP port -->
    <add key="primary port" value="2675" />
    <!-- available ports for mbrace workers. e.g: 30000-30042 -->
    <add key="worker port range" value="30000, 30042" />
    <!-- permitted operation modes; None: 0, Slave: 1, Master: 2, Foo: 4 -->
    <add key="permissions" value="7" />
    <!-- the working directory of the node; paths relative to executable; use "temp" for system temp folder -->
    <add key="working directory" value="temp" />
    <!-- logfile; paths relative to declared working directory -->
    <add key="log file" value="mbrace-log.txt" />
    <!-- specify loglevel: info 0, warning 1, error 2-->
    <add key="log level" value="0" />
    <!-- executable name of mbrace child process -->
    <add key="mbrace processdomain executable" value="mbrace.worker.exe" />

    <!-- 
    Store configuration 
    Use : LocalFS to use a temp path in the local filesystem
          FileSystem and a local (or UNC) path as an endpoint
          The assembly qualified name for any custom provider (like the Azure) and its endpoint (connection string).
    -->
    <add key="store provider" value="LocalFS" />
    <add key="store endpoint" value="" />
    
    <!-- Sql Server store alternative config
      <add key="store provider" value="Nessos.MBrace.Store.SqlServer.SqlServerStoreFactory, Nessos.MBrace.Store.SqlServer, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add key="store endpoint" value="[connection string]"/>
    -->
    <!-- Azure store alternative config
      <add key="store provider" value="Nessos.MBrace.Store.Azure.AzureStoreFactory, Nessos.MBrace.Store.Azure, Version=[version number], Culture=neutral, PublicKeyToken=e3142f36c45d3d3d"/>
      <add key="store endpoint" value="[connection string]"/>
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="2.3.5.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="4.0.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>